#form{
    margin: 9% 40%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    background-color: rgb(202, 200, 200);
}

footer{
    padding-top: 50px;
    text-align: center;
    background-color: rgb(80, 161, 70);
    height: 200px;

}